@import './normalize.css';

:root {
  --background-color: #242424;
  --secondary-background-color: #303030;
  --tertiary-background-color: #1a1a1a;

  --primary-foreground-color: #fafafa;
  --secondary-foreground-color: #333;
  --subtitle-foreground-color: #a5a5a5;

  --control-background-color: #cacaca;
  --control-hover-background-color: #bebebe;
  --muted-control-background-color: #bdbdbd;
  --control-outline-color: #1a1a1a;

  --link-foreground-color: #646cff;
  --link-hover-foreground-color: #535bf2;
  --muted-link-foreground-color: #a5a5a5;

  --button-background-color: #eeeeee;
  --secondary-button-background-color: #5e5e5e;
  --muted-button-background-color: #bebebe;
  --secondary-muted-button-background-color: #555555;
  --button-hover-background-color: #e0e0e0;
  --secondary-button-hover-background-color: #777777;
  --button-border-color: #cccccc;
  --button-foreground-color: #333;
  --secondary-button-foreground-color: #ffffff;
  --muted-button-foreground-color: #494949;
  --secondary-muted-button-foreground-color: #acacac;

  --input-background-color: var(--control-background-color);
  --input-border-color: #747474;
  --input-foreground-color: #333;
  --input-placeholder-color: #838383;
  --input-hover-border-color: #666666;
  --input-focus-border-color: #000000;
  --input-disabled-background-color: #cfcfcf;
  --input-disabled-foreground-color: #7e7e7e;
  --input-disabled-border-color: #cfcfcf;
  --input-disabled-placeholder-color: #a5a5a5;
  --input-invalid-border-color: #ff0000;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-foreground-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-foreground-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-foreground-color);
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.drop-shadow {
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--tertiary-background-color);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --secondary-background-color: #f5f5f5;
    --tertiary-background-color: #e0e0e0;

    --primary-foreground-color: #213547;
    --secondary-foreground-color: #ffffff;
    --subtitle-foreground-color: #5a5a5a;

    --control-background-color: #bebebe;
    --control-hover-background-color: #a5a5a5;
    --muted-control-background-color: #cfcfcf;
    --control-outline-color: #353535;

    --link-foreground-color: #0056b3;
    --link-hover-foreground-color: #747bff;
    --muted-link-foreground-color: #555555;

    --button-background-color: #1f1f1f;
    --secondary-button-background-color: #eeeeee;
    --muted-button-background-color: #333333;
    --secondary-muted-button-background-color: #f3f3f3;
    --button-hover-background-color: #2f2f2f;
    --secondary-button-hover-background-color: #e0e0e0;
    --button-border-color: #3f3f3f;
    --button-foreground-color: #ffffff;
    --secondary-button-foreground-color: #333;
    --muted-button-foreground-color: #ffffff;
    --secondary-muted-button-foreground-color: #585858;

    --input-background-color: var(--control-background-color);
    --input-border-color: #a5a5a5;
    --input-foreground-color: #333;
    --input-placeholder-color: #838383;
    --input-hover-border-color: #818181;
    --input-focus-border-color: #5a5a5a;
    --input-disabled-background-color: #cfcfcf;
    --input-disabled-foreground-color: #7e7e7e;
    --input-disabled-border-color: #cfcfcf;
    --input-disabled-placeholder-color: #a5a5a5;
    --input-invalid-border-color: #ff0000;
  }
}
