.password-input {
  .input-adornment {
    transition: all 0.25s;
    transform: rotate(180deg);

    &.input-adornment--icon--active {
      transform: rotate(360deg);
    }

    .input-adornment--button {
      outline: none;
    }
  }
}
